@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.message {
  background-color: #007aff;
  align-self: flex-end;
  position: relative;
  border-radius: 8px !important;
  padding: 8px !important;
}

.sentMessage {
  background-color: #007aff;
  color: white;
  align-self: flex-end;
}

.responseOption {
  background-color: #e6f2ff;
  align-self: flex-end;
}

.sentMessage::before {
  left: auto;
  right: -10px;
  border-right: none;
  border-left: 10px solid #007aff;
}

.responseOption::before {
  left: auto;
  right: -10px;
  border-right: none;
  border-left: 10px solid #e6f2ff;
}

.z {
  z-index: 100;
}
.authlayoutbg {
  background-color: #ced9bb;
}

.mi:hover {
  background-color: #ced9bb;
}
.authlayouttext {
  color: #ced9bb;
}

.onboard-left,
.popover,
.bg {
  background-color: #e3eac9;
}
.popover {
  border: none;
  width: 20rem;
}
.onboard-right,
.sheet {
  background-color: #ced9bb;
}
.cardregister {
  background-color: #e3eac9;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cardauth,
.buttonsActive {
  background-color: #e3eac9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttonsNotActive {
  opacity: 0.4;
}
